<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict/>
	<key>name</key>
	<string>SCSS</string>
	<key>uuid</key>
	<string>BCEB5483-E029-479F-95AC-D6AADF98138F</string>
</dict>
</plist>
