<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SCSS</string>
	<key>ordering</key>
	<array>
		<string>A775DE92-24C0-4F97-9CC6-102C84F9E4E7</string>
		<string>49B13F70-B978-4633-AB69-8D2AB64C870E</string>
		<string>E0DD7A71-128C-4788-B2A0-D31EC3CAA950</string>
		<string>4E2E7138-69AA-4BF1-A87E-8C45DE807B10</string>
		<string>D51A613E-4198-4FAB-99CC-9981EF99BE39</string>
	</array>
	<key>uuid</key>
	<string>CD666D31-F803-4DF0-BDC8-71E5B456A219</string>
</dict>
</plist>
