'.source.scss':
  'editor':
    'commentStart': '//'
'.source.scss:not(.meta.property-list)':
  'editor':
    'completions': [
      '*'
      '#'
      '.'
      'a'
      'abbr'
      'acronym'
      'address'
      'area'
      'article'
      'aside'
      'audio'
      'b'
      'base'
      'bb'
      'bdo'
      'blockquote'
      'body'
      'br'
      'button'
      'canvas'
      'caption'
      'cite'
      'code'
      'col'
      'colgroup'
      'command'
      'datagrid'
      'datalist'
      'dd'
      'del'
      'details'
      'dfn'
      'dialog'
      'div'
      'dl'
      'dt'
      'em'
      'embed'
      'fieldset'
      'figure'
      'footer'
      'form'
      'h1'
      'h2'
      'h3'
      'h4'
      'h5'
      'h6'
      'head'
      'header'
      'hr'
      'html'
      'i'
      'iframe'
      'img'
      'input'
      'ins'
      'kbd'
      'keygen'
      'label'
      'legend'
      'li'
      'link'
      'map'
      'mark'
      'menu'
      'meta'
      'meter'
      'nav'
      'noscript'
      'object'
      'ol'
      'optgroup'
      'option'
      'output'
      'p'
      'param'
      'pre'
      'progress'
      'q'
      'rp'
      'rt'
      'ruby'
      'samp'
      'script'
      'section'
      'select'
      'small'
      'source'
      'span'
      'strong'
      'style'
      'sub'
      'sup'
      'table'
      'tbody'
      'td'
      'textarea'
      'tfoot'
      'th'
      'thead'
      'time'
      'title'
      'tr'
      'ul'
      'var'
      'video'
    ]
'.source.scss .meta.property-list:not(.meta.property-value)':
  'editor':
    'completions': [
      'azimuth'
      'background-attachment'
      'background-break'
      'background-clip'
      'background-color'
      'background-image'
      'background-origin'
      'background-position-x'
      'background-position-y'
      'background-position'
      'background-repeat'
      'background-size'
      'background'
      'border-bottom-color'
      'border-bottom-image'
      'border-bottom-left-image'
      'border-bottom-left-radius'
      'border-bottom-right-image'
      'border-bottom-right-radius'
      'border-bottom-style'
      'border-bottom-width'
      'border-bottom'
      'border-break'
      'border-collapse'
      'border-color'
      'border-corner-image'
      'border-fit'
      'border-image'
      'border-left-color'
      'border-left-image'
      'border-left-style'
      'border-left-width'
      'border-left'
      'border-length'
      'border-radius'
      'border-right-color'
      'border-right-image'
      'border-right-style'
      'border-right-width'
      'border-right'
      'border-spacing'
      'border-style'
      'border-top-color'
      'border-top-image'
      'border-top-left-image'
      'border-top-left-radius'
      'border-top-right-image'
      'border-top-right-radius'
      'border-top-style'
      'border-top-width'
      'border-top'
      'border-width'
      'border'
      'bottom'
      'box-shadow'
      'box-sizing'
      'caption-side'
      'clear'
      'clip'
      'color'
      'content'
      'counter-increment'
      'counter-reset'
      'cue-after'
      'cue-before'
      'cue'
      'cursor'
      'direction'
      'display'
      'elevation'
      'empty-cells'
      'float'
      'font-effect'
      'font-emphasize-position'
      'font-emphasize-style'
      'font-emphasize'
      'font-family'
      'font-size-adjust'
      'font-size'
      'font-smooth'
      'font-stretch'
      'font-style'
      'font-variant'
      'font-weight'
      'font'
      'height'
      'left'
      'letter-spacing'
      'line-height'
      'list-style-image'
      'list-style-position'
      'list-style-type'
      'list-style'
      'margin-bottom'
      'margin-left'
      'margin-right'
      'margin-top'
      'margin'
      'marker-offset'
      'marks'
      'max-height'
      'max-width'
      'min-height'
      'min-width'
      'opacity'
      'orphans'
      'outline-color'
      'outline-offset'
      'outline-style'
      'outline-width'
      'outline'
      'overflow-style'
      'overflow-x'
      'overflow-y'
      'overflow'
      'padding-bottom'
      'padding-left'
      'padding-right'
      'padding-top'
      'padding'
      'page-break-after'
      'page-break-before'
      'page-break-inside'
      'page'
      'pause-after'
      'pause-before'
      'pause'
      'pitch-range'
      'play-during'
      'pitch'
      'position'
      'quotes'
      'resize'
      'richness'
      'right'
      'size'
      'speak-header'
      'speak-numeral'
      'speak-punctuation'
      'speak'
      'speech-rate'
      'stress'
      'table-layout'
      'text-align-last'
      'text-align'
      'text-decoration'
      'text-emphasis'
      'text-height'
      'text-indent'
      'text-justify'
      'text-outline'
      'text-replace'
      'text-shadow'
      'text-transform'
      'text-wrap'
      'top'
      'unicode-bidi'
      'vertical-align'
      'visibility'
      'voice-family'
      'volume'
      'white-space-collapse'
      'white-space'
      'widows'
      'width'
      'word-break'
      'word-spacing'
      'word-wrap'
      'z-index'
    ]
'.source.scss .meta.property-value':
  'editor':
    'completions': [
      'absolute'
      'accent'
      'after'
      'always'
      'attr()'
      'auto'
      'avoid'
      'baseline'
      'before'
      'block'
      'bold'
      'bolder'
      'border-box'
      'both'
      'bottom'
      'bounding-box'
      'break-all'
      'break-strict'
      'capitalize'
      'center'
      'circle'
      'clip'
      'close'
      'close-quote'
      'collapse'
      'compact'
      'condensed'
      'contain'
      'content-box'
      'continue'
      'continuous'
      'counter()'
      'counters()'
      'cover'
      'crosshair'
      'cursive'
      'dashed'
      'decimal'
      'decimal-leading-zero'
      'default'
      'disc'
      'distribute'
      'dot'
      'dot-dash'
      'dot-dot-dash'
      'dotted'
      'double'
      'each-box'
      'emboss'
      'engrave'
      'expanded'
      'extra-condensed'
      'extra-expanded'
      'fantasy'
      'fixed'
      'font-size'
      'groove'
      'hand'
      'help'
      'hidden'
      'hide'
      'horizontal'
      'inline'
      'inline-block'
      'inline-table'
      'inset'
      'inside'
      'inter-cluster'
      'inter-ideograph'
      'inter-word'
      'invert'
      'italic'
      'kashida'
      'keep-all'
      'left'
      'lighter'
      'line-through'
      'list-item'
      'loose'
      'lower-roman'
      'lowercase'
      'marquee'
      'max-size'
      'middle'
      'monospace'
      'move'
      'ms'
      'never'
      'no-clip'
      'no-close-quote'
      'no-open-quote'
      'no-repeat'
      'none'
      'normal'
      'nowrap'
      'oblique'
      'open-quote'
      'outline'
      'outset'
      'outside'
      'overflow'
      'overline'
      'overwrite'
      'padding-box'
      'panner'
      'pointer'
      'pre'
      'pre-line'
      'pre-wrap'
      'rect()'
      'relative'
      'repeat'
      'repeat-x'
      'repeat-y'
      'ridge'
      'right'
      'run-in'
      'sans-serif'
      'scale'
      'scroll'
      'scrollbar'
      'semi-condensed'
      'semi-expanded'
      'separate'
      'serif'
      'show'
      'small-caps'
      'solid'
      'space'
      'square'
      'static'
      'stretch'
      'sub'
      'super'
      'suppress'
      'table'
      'table-caption'
      'table-cell'
      'table-column'
      'table-column-group'
      'table-footer-group'
      'table-header-group'
      'table-row'
      'table-row-group'
      'text'
      'text-bottom'
      'text-size'
      'text-top'
      'tibetan'
      'top'
      'transparent'
      'ultra-condensed'
      'ultra-expanded'
      'underline'
      'unrestricted'
      'upper-roman'
      'uppercase'
      'vertical'
      'visible'
      'wave'
    ]
